@charset "UTF-8";
.screen {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #fafafa;
  width: 1920px;
  height: 3719px;
  position: relative;
}

.screen .overlap {
  position: absolute;
  width: 1920px;
  height: 638px;
  top: 0;
  left: 0;
}

.screen .element {
  position: absolute;
  width: 1918px;
  height: 638px;
  top: 0;
  left: 2px;
  object-fit: cover;
}

.screen .text-wrapper {
  top: 167px;
  left: 495px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-2 {
  position: absolute;
  top: 167px;
  left: 672px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-3 {
  top: 204px;
  left: 887px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 167px;
  left: 918px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-5 {
  position: absolute;
  top: 167px;
  left: 1171px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-6 {
  top: 204px;
  left: 1171px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-7 {
  top: 167px;
  left: 1426px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-8 {
  top: 204px;
  left: 1416px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-9 {
  top: 241px;
  left: 1173px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-10 {
  top: 278px;
  left: 1173px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 23px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .group {
  position: absolute;
  width: 1725px;
  height: 108px;
  top: 31px;
  left: 140px;
}

.screen .text-wrapper-11 {
  top: 37px;
  left: 1251px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .rectangle {
  position: absolute;
  width: 291px;
  height: 24px;
  top: -24136px;
  left: 12484px;
}

.screen .text-wrapper-12 {
  top: 36px;
  left: 1006px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-13 {
  top: 36px;
  left: 770px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .YUMMY-JEJU {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-14 {
  top: 36px;
  left: 364px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-15 {
  top: 35px;
  left: 567px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 36px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .image {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 36px;
  left: 1620px;
  object-fit: cover;
}

.screen .text-wrapper-16 {
  top: 43px;
  left: 1473px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #36383c;
  font-size: 23px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 37px;
  left: 1569px;
  object-fit: cover;
}

.screen .image-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 36px;
  left: 1671px;
  border-radius: 20px;
  border: 2px solid;
  border-color: #36383c;
}

.screen .image-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 3px;
  object-fit: cover;
}

.screen .rectangle-2 {
  position: absolute;
  width: 1919px;
  height: 166px;
  top: 0;
  left: 0;
}

.screen .rectangle-3 {
  position: absolute;
  width: 754px;
  height: 93px;
  top: 474px;
  left: 589px;
  background-color: #ffffff;
  border-radius: 20px;
}

.screen .image-3 {
  position: absolute;
  width: 38px;
  height: 35px;
  top: 503px;
  left: 1268px;
  object-fit: cover;
}

.screen .text-wrapper-17 {
  top: 506px;
  left: 620px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #0000007d;
  font-size: 26px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .ellipse {
  left: 934px;
  background-color: #98b3be;
  border: 3px solid;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 673px;
  border-radius: 7px;
  border-color: #99b3be;
}

.screen .ellipse-2 {
  left: 952px;
  background-color: #ffffff;
  border: 2px solid;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 673px;
  border-radius: 7px;
  border-color: #99b3be;
}

.screen .ellipse-3 {
  left: 970px;
  background-color: #ffffff;
  border: 2px solid;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 673px;
  border-radius: 7px;
  border-color: #99b3be;
}

.screen .ellipse-4 {
  left: 988px;
  background-color: #ffffff;
  border: 2px solid;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 673px;
  border-radius: 7px;
  border-color: #99b3be;
}

.screen .ellipse-5 {
  left: 1006px;
  background-color: #ffffff;
  border: 2px solid;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 673px;
  border-radius: 7px;
  border-color: #99b3be;
}

.screen .polygon {
  left: 1053px;
  position: absolute;
  width: 14px;
  height: 21px;
  top: 669px;
}

.screen .polygon-2 {
  left: 887px;
  position: absolute;
  width: 14px;
  height: 21px;
  top: 669px;
}

.screen .overlap-wrapper {
  position: absolute;
  width: 1920px;
  height: 525px;
  top: 3194px;
  left: 0;
}

.screen .overlap-group {
  position: relative;
  width: 1926px;
  height: 525px;
}

.screen .group-2 {
  position: absolute;
  width: 1926px;
  height: 525px;
  top: 0;
  left: 0;
}

.screen .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 405px;
  top: 120px;
  left: 0;
  background-color: #f7f7f7;
}

.screen .overlap-3 {
  position: absolute;
  width: 1470px;
  height: 102px;
  top: 269px;
  left: 253px;
}

.screen .overlap-4 {
  position: absolute;
  width: 1470px;
  height: 102px;
  top: 0;
  left: 0;
}

.screen .list {
  position: absolute;
  width: 1160px;
  height: 16px;
  top: 35px;
  left: 0;
}

.screen .item {
  position: absolute;
  width: 114px;
  height: 16px;
  top: 0;
  left: 0;
}

.screen .link {
  width: 102px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .text-wrapper-18 {
  width: 102px;
  height: 16px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .vertical-divider {
  left: 113px;
  position: absolute;
  width: 1px;
  height: 11px;
  top: 2px;
  background-color: #e0e0e0;
}

.screen .item-2 {
  position: absolute;
  width: 59px;
  height: 14px;
  top: 0;
  left: 126px;
}

.screen .div-wrapper {
  position: absolute;
  width: 47px;
  height: 14px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-19 {
  width: 48px;
  height: 14px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #6b6b6b;
  font-size: 12.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .vertical-divider-2 {
  position: absolute;
  width: 1px;
  height: 11px;
  top: 2px;
  left: 58px;
  background-color: #e0e0e0;
}

.screen .item-3 {
  position: absolute;
  width: 83px;
  height: 14px;
  top: 0;
  left: 197px;
}

.screen .link-2 {
  width: 71px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .text-wrapper-20 {
  width: 71px;
  height: 14px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #6b6b6b;
  font-size: 12.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.screen .vertical-divider-3 {
  left: 82px;
  position: absolute;
  width: 1px;
  height: 11px;
  top: 2px;
  background-color: #e0e0e0;
}

.screen .item-4 {
  position: absolute;
  width: 83px;
  height: 14px;
  top: 0;
  left: 292px;
}

.screen .item-5 {
  position: absolute;
  width: 107px;
  height: 14px;
  top: 0;
  left: 387px;
}

.screen .link-3 {
  width: 95px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .text-wrapper-21 {
  width: 95px;
  height: 14px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #6b6b6b;
  font-size: 12.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.screen .vertical-divider-4 {
  left: 106px;
  position: absolute;
  width: 1px;
  height: 11px;
  top: 2px;
  background-color: #e0e0e0;
}

.screen .item-6 {
  position: absolute;
  width: 90px;
  height: 14px;
  top: 0;
  left: 506px;
}

.screen .link-4 {
  width: 78px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
}

.screen .text-wrapper-22 {
  position: absolute;
  width: 78px;
  height: 14px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #6b6b6b;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .vertical-divider-5 {
  left: 89px;
  position: absolute;
  width: 1px;
  height: 11px;
  top: 2px;
  background-color: #e0e0e0;
}

.screen .item-7 {
  position: absolute;
  width: 59px;
  height: 14px;
  top: 0;
  left: 608px;
}

.screen .item-8 {
  position: absolute;
  width: 107px;
  height: 14px;
  top: 0;
  left: 679px;
}

.screen .item-9 {
  position: absolute;
  width: 1160px;
  height: 16px;
  top: 60px;
  left: 310px;
}

.screen .text-wrapper-23 {
  width: 119px;
  height: 13px;
  top: 0;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 11.4px;
  line-height: 16px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-24 {
  position: absolute;
  width: 122px;
  height: 13px;
  top: 0;
  left: 129px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 11.8px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-25 {
  position: absolute;
  width: 114px;
  height: 13px;
  top: 0;
  left: 261px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 11.8px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-26 {
  position: absolute;
  width: 168px;
  height: 13px;
  top: 0;
  left: 385px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 11.8px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .group-3 {
  position: absolute;
  width: 416px;
  height: 102px;
  top: 0;
  left: 995px;
}

.screen .WEB-ACCESSIBILITY {
  position: absolute;
  width: 80px;
  height: 49px;
  top: 26px;
  left: 0;
  background-image: url(./img/WEB-ACCESSIBILITY.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .UNESCO-MAB-WORLD {
  position: absolute;
  width: 331px;
  height: 102px;
  top: 0;
  left: 85px;
  background-image: url(./img/UNESCO-MAB-WORLD-HERITAGE-GLOBAL-GEOPARKS-NETWORK-OFFICIAL-NEW-7-WONDER-OF-NATURE-JEJU-ISLAND.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .p {
  position: absolute;
  width: 310px;
  height: 16px;
  top: 60px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #666666;
  font-size: 11.1px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .line {
  position: absolute;
  width: 1411px;
  height: 2px;
  top: 255px;
  left: 249px;
}

.screen .group-4 {
  position: absolute;
  width: 126px;
  height: 131px;
  top: 66px;
  left: 952px;
}

.screen .overlap-5 {
  position: absolute;
  width: 49px;
  height: 20px;
  top: 0;
  left: 0;
}

.screen .term {
  position: absolute;
  width: 49px;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #4b4b4b;
  font-size: 17.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .details-link {
  position: absolute;
  width: 33px;
  height: 13px;
  top: 33px;
  left: 0;
}

.screen .text-wrapper-27 {
  width: 44px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .details-link-2 {
  width: 22px;
  top: 50px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .text-wrapper-28 {
  width: 22px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .details-link-3 {
  width: 22px;
  top: 67px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .details-link-4 {
  width: 22px;
  top: 84px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .details-link-5 {
  width: 58px;
  top: 101px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .text-wrapper-29 {
  width: 58px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.4px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .details-link-6 {
  width: 122px;
  top: 118px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .text-wrapper-30 {
  width: 122px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .group-5 {
  position: absolute;
  width: 92px;
  height: 63px;
  top: 66px;
  left: 1099px;
}

.screen .term-2 {
  width: 33px;
  font-size: 17.4px;
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #4b4b4b;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .details-link-7 {
  width: 90px;
  top: 33px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .text-wrapper-31 {
  width: 91px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.4px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .details-link-8 {
  width: 44px;
  top: 50px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .text-wrapper-32 {
  width: 74px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .group-6 {
  position: absolute;
  width: 53px;
  height: 46px;
  top: 66px;
  left: 1260px;
}

.screen .term-3 {
  width: 51px;
  font-size: 17.4px;
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #4b4b4b;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-33 {
  width: 79px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .group-7 {
  position: absolute;
  width: 72px;
  height: 80px;
  top: 66px;
  left: 1428px;
}

.screen .term-4 {
  width: 70px;
  font-size: 17.3px;
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #4b4b4b;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .details-link-9 {
  width: 69px;
  top: 33px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .text-wrapper-34 {
  width: 69px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.4px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .details-link-10 {
  width: 47px;
  top: 50px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .text-wrapper-35 {
  position: absolute;
  width: 47px;
  height: 13px;
  top: -1px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .details-link-11 {
  width: 47px;
  top: 67px;
  position: absolute;
  height: 13px;
  left: 0;
}

.screen .image-4 {
  position: absolute;
  width: 93px;
  height: 60px;
  top: 41px;
  left: 416px;
}

.screen .image-5 {
  position: absolute;
  width: 93px;
  height: 60px;
  top: 41px;
  left: 522px;
}

.screen .image-6 {
  position: absolute;
  width: 93px;
  height: 60px;
  top: 41px;
  left: 628px;
}

.screen .image-7 {
  position: absolute;
  width: 93px;
  height: 60px;
  top: 147px;
  left: 416px;
}

.screen .image-8 {
  position: absolute;
  width: 93px;
  height: 60px;
  top: 147px;
  left: 522px;
}

.screen .image-9 {
  position: absolute;
  width: 93px;
  height: 60px;
  top: 147px;
  left: 628px;
}

.screen .text-wrapper-36 {
  width: 63px;
  height: 12px;
  top: 104px;
  left: 643px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 10.5px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-37 {
  width: 40px;
  height: 12px;
  top: 211px;
  left: 655px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 10.7px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .section {
  position: absolute;
  width: 1920px;
  height: 120px;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
}

.screen .overlap-group-2 {
  position: relative;
  width: 1160px;
  height: 60px;
  top: 30px;
  left: 380px;
}

.screen .container {
  position: absolute;
  width: 1160px;
  height: 60px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen .view-wrapper {
  width: 223px;
  height: 60px;
  left: -199px;
  position: absolute;
  top: 0;
}

.screen .view {
  position: relative;
  width: 200px;
  height: 60px;
  left: 12px;
  background-image: url(./img/image-14.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .link-5 {
  width: 223px;
  height: 60px;
  left: 24px;
  position: absolute;
  top: 0;
}

.screen .view-2 {
  background-image: url(./img/image-5.png);
  position: relative;
  width: 200px;
  height: 60px;
  left: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .link-6 {
  width: 223px;
  height: 60px;
  left: 247px;
  position: absolute;
  top: 0;
}

.screen .view-3 {
  background-image: url(./img/image-17.png);
  position: relative;
  width: 200px;
  height: 60px;
  left: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .link-7 {
  width: 223px;
  height: 60px;
  left: 470px;
  position: absolute;
  top: 0;
}

.screen .view-4 {
  background-image: url(./img/image-6.png);
  position: relative;
  width: 200px;
  height: 60px;
  left: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .link-8 {
  width: 223px;
  height: 60px;
  left: 693px;
  position: absolute;
  top: 0;
}

.screen .view-5 {
  background-image: url(./img/image-2.png);
  position: relative;
  width: 200px;
  height: 60px;
  left: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .ICC-wrapper {
  width: 223px;
  height: 60px;
  left: 916px;
  position: absolute;
  top: 0;
}

.screen .ICC {
  position: relative;
  width: 200px;
  height: 60px;
  left: 12px;
  background-image: url(./img/ICC.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .link-9 {
  width: 223px;
  height: 60px;
  left: 1139px;
  position: absolute;
  top: 0;
}

.screen .view-6 {
  background-image: url(./img/image-15.png);
  position: relative;
  width: 200px;
  height: 60px;
  left: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .button-previous {
  all: unset;
  box-sizing: border-box;
  left: 0;
  background-image: url(./img/button-previous.png);
  position: absolute;
  width: 12px;
  height: 35px;
  top: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-38 {
  position: absolute;
  width: 51px;
  height: 14px;
  top: 10px;
  left: -5019px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .button-next {
  all: unset;
  box-sizing: border-box;
  left: 1148px;
  background-image: url(./img/button-next.png);
  position: absolute;
  width: 12px;
  height: 35px;
  top: 12px;
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-39 {
  position: absolute;
  width: 28px;
  height: 14px;
  top: 10px;
  left: -5007px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #333333;
  font-size: 12.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .group-8 {
  position: absolute;
  width: 194px;
  height: 118px;
  top: 225px;
  left: 421px;
}

.screen .text-wrapper-40 {
  width: 80px;
  height: 12px;
  top: 0;
  left: 104px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 10.7px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-41 {
  width: 80px;
  height: 12px;
  top: 106px;
  left: 1px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 10.7px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-42 {
  width: 80px;
  height: 12px;
  top: 0;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 10.5px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-43 {
  width: 80px;
  height: 12px;
  top: 106px;
  left: 106px;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 10.7px;
  text-align: center;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .group-9 {
  position: absolute;
  width: 80px;
  height: 45px;
  top: 186px;
  left: 805px;
}

.screen .term-5 {
  width: 76px;
  font-size: 17.4px;
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #4b4b4b;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-44 {
  height: 12px;
  top: 33px;
  left: 0;
  font-family: "NanumGothic-Regular", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 11.6px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-6 {
  position: absolute;
  width: 1571px;
  height: 177px;
  top: 770px;
  left: 186px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-45 {
  top: 44px;
  left: 581px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 70px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .image-10 {
  position: absolute;
  width: 74px;
  height: 74px;
  top: 51px;
  left: 485px;
  object-fit: cover;
}

.screen .overlap-7 {
  position: absolute;
  width: 370px;
  height: 373px;
  top: 982px;
  left: 186px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .image-11 {
  position: absolute;
  width: 328px;
  height: 219px;
  top: 14px;
  left: 20px;
  object-fit: cover;
}

.screen .text-wrapper-46 {
  top: 282px;
  left: 99px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 35px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-8 {
  position: absolute;
  width: 370px;
  height: 373px;
  top: 982px;
  left: 582px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .overlap-9 {
  position: absolute;
  width: 370px;
  height: 373px;
  top: 982px;
  left: 985px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-47 {
  top: 282px;
  left: 115px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 35px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-10 {
  position: absolute;
  width: 370px;
  height: 373px;
  top: 982px;
  left: 1387px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-48 {
  top: 282px;
  left: 101px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 35px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-11 {
  position: absolute;
  width: 1571px;
  height: 177px;
  top: 1390px;
  left: 186px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-49 {
  top: 44px;
  left: 544px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 70px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .image-12 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 53px;
  left: 460px;
  object-fit: cover;
}

.screen .img-wrapper {
  position: absolute;
  width: 768px;
  height: 659px;
  top: 1602px;
  left: 184px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .image-13 {
  position: absolute;
  width: 690px;
  height: 506px;
  top: 76px;
  left: 37px;
  object-fit: cover;
}

.screen .overlap-12 {
  position: absolute;
  width: 768px;
  height: 659px;
  top: 1602px;
  left: 989px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .overlap-13 {
  position: absolute;
  width: 676px;
  height: 80px;
  top: 77px;
  left: 46px;
  background-color: #e0e0e078;
  border-radius: 10px;
}

.screen .text-wrapper-50 {
  width: 75px;
  top: 25px;
  left: 551px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-51 {
  width: 115px;
  top: 25px;
  left: 31px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-14 {
  position: absolute;
  width: 676px;
  height: 80px;
  top: 180px;
  left: 46px;
  background-color: #e0e0e078;
  border-radius: 10px;
}

.screen .text-wrapper-52 {
  width: 123px;
  top: 22px;
  left: 31px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-15 {
  position: absolute;
  width: 676px;
  height: 80px;
  top: 489px;
  left: 46px;
  background-color: #e0e0e078;
  border-radius: 10px;
}

.screen .text-wrapper-53 {
  width: 75px;
  top: 24px;
  left: 551px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-54 {
  width: 87px;
  top: 24px;
  left: 35px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-16 {
  position: absolute;
  width: 676px;
  height: 80px;
  top: 386px;
  left: 46px;
  background-color: #e0e0e078;
  border-radius: 10px;
}

.screen .text-wrapper-55 {
  top: 25px;
  left: 35px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-17 {
  position: absolute;
  width: 676px;
  height: 80px;
  top: 283px;
  left: 46px;
  background-color: #e0e0e078;
  border-radius: 10px;
}

.screen .text-wrapper-56 {
  width: 75px;
  top: 21px;
  left: 35px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .text-wrapper-57 {
  width: 75px;
  top: 21px;
  left: 551px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 27px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .overlap-18 {
  position: absolute;
  width: 1571px;
  height: 177px;
  top: 2314px;
  left: 182px;
  background-color: #000000;
  border-radius: 20px;
}

.screen .text-wrapper-58 {
  position: absolute;
  top: 57px;
  left: 661px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .image-14 {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 11px;
  left: 510px;
  object-fit: cover;
}

.screen .image-15 {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 11px;
  left: 931px;
  object-fit: cover;
}

.screen .overlap-19 {
  position: absolute;
  width: 480px;
  height: 542px;
  top: 2541px;
  left: 182px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-59 {
  position: absolute;
  top: 460px;
  left: 109px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .image-16 {
  position: absolute;
  width: 386px;
  height: 389px;
  top: 22px;
  left: 40px;
  object-fit: cover;
}

.screen .overlap-20 {
  position: absolute;
  width: 480px;
  height: 542px;
  top: 2541px;
  left: 728px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-60 {
  top: 460px;
  left: 91px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 35px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .image-17 {
  position: absolute;
  width: 380px;
  height: 376px;
  top: 22px;
  left: 49px;
  object-fit: cover;
}

.screen .overlap-21 {
  position: absolute;
  width: 480px;
  height: 542px;
  top: 2541px;
  left: 1274px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-61 {
  top: 460px;
  left: 99px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 35px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.screen .image-18 {
  position: absolute;
  width: 380px;
  height: 364px;
  top: 22px;
  left: 52px;
  object-fit: cover;
}
